@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap");
body {
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  height: 50vh;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card__headline {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__arrows {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__arrows .arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  -webkit-filter: brightness(5);
          filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.card__arrows .arrow.disabled:before {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.card__arrows .arrow.arrow-prev:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.card__arrows .arrow.arrow-next:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.card__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% / 5 - (10px * 2) - (20px / 5));
      flex-basis: calc(100% / 5 - (10px * 2) - (20px / 5));
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 1000px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 3 - (10px * 2) - (20px / 3));
        flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}

@media only screen and (max-width: 750px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 2 - (10px * 2) - (20px / 2));
        flex-basis: calc(100% / 2 - (10px * 2) - (20px / 2));
  }
}

@media only screen and (max-width: 550px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 1.25 - (10px * 2) - (20px / 1.25));
        flex-basis: calc(100% / 1.25 - (10px * 2) - (20px / 1.25));
  }
}

@media only screen and (max-width: 400px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 1.25 - (10px * 2) - (20px / 1.25));
        flex-basis: calc(100% / 1.25 - (10px * 2) - (20px / 1.25));
  }
}

.card__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}

.card__item:first-child {
  margin-left: calc(10px * 2);
}

.card__item__image {
  pointer-events: none;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5vmax;
}

.container {
  max-width: 80vw;
  padding: calc(10px * 2);
  margin: 0 auto;
  position: relative;
}

.container:after {
  content: "";
}

ul {
  padding: 0;
  margin: 0;
}

.background {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#0f0f0f));
  background: linear-gradient(to bottom, #00000000, #0f0f0f);
}

.background .wrapper {
  width: 50vw;
  height: 50vh;
  z-index: 3;
}

.background .wrapper h1 {
  color: white;
  font-weight: 900;
  font-size: 4.5vmax;
  width: 90%;
  margin: 0;
  z-index: inherit;
}

.background .wrapper p {
  color: white;
  font-size: 1.2vmax;
  line-height: 2vmax;
  opacity: 0.8;
  width: 60%;
  z-index: inherit;
}

.background .background_title {
  pointer-events: none;
  position: absolute;
  width: 90vw;
  height: 60vh;
}

.background .background_title span {
  white-space: nowrap;
  width: 90%;
  position: absolute;
  font-weight: 900;
  font-size: 9vmax;
  color: white;
  opacity: 0.1;
  overflow: hidden;
}

.background #providers {
  width: 30vw;
  height: 45vh;
  z-index: 100;
  border-radius: 1vmax;
}

.background #providers h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.4vmax;
}

.background #providers .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background #providers .category button {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.3vmax;
}

.background #providers .category span {
  color: white;
  font-synthesis: 1.3vmax;
}

.background #providers #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1vmax 0;
  gap: 20px;
}

.background #providers #content img {
  width: 3.5vmax;
  border-radius: .85vmax;
  margin: 0;
}

.background #providers #content p {
  color: white;
  font-size: 1.5vmax;
}
/*# sourceMappingURL=index.css.map */